@import "../../../variables";

.btn-toggle-grid-format-container {
  text-align: right;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  color: $color-secondary;
  font-size: 32px;

  > div {
    margin-right: auto;
  }

  .btn-toggle-grid-format {
    cursor: pointer;
    margin: 8px 0 8px 16px;
  }
}
