@import "../../../variables";
@import "../../../mixins";

.artists-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  height: calc(100vh - 103px);
 // overflow-y: scroll;

  @include respond(desktop) {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

.artists-list {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 103px);
  overflow-y: scroll;
}
