@import "../../../variables";

app-login {
  background-color: black;
}

.login-title {
  text-align: center;
  color: $color-text;

  &__name {
    color: $color-secondary;
  }
}

.login-description {
  color: $color-text;
}
