@import "../../../variables";

.detail {

  &__image {
    width: 100%;
  }

  .extra-details {
    margin-top: 25px;

    &__row {
      display: flex;
      color: $color-text;
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 8px;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    &__label {
      font-weight: bold;
      margin-right: 16px;
    }

    &__value {
      margin-left: auto;

      &:first-letter {
        text-transform: uppercase;
      }
    }

  }

}
