@import "../../../variables";

.page-detail {

  &__image {
    width: 100%;
  }

  .page-extra-details {
    margin-top: 25px;

    &__row {
      display: flex;
      color: $color-text;
      padding-left: 16px;
      padding-right: 16px;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    &__label {
      font-weight: bold;
    }

    &__value {
      margin-left: auto;

      &:first-letter {
        text-transform: uppercase;
      }
    }

  }

}
