@import "../../../variables";
@import "../../../mixins";

.detail {

  @include respond(desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }

  &__image {
    width: 100%;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.4), 0 10px 10px -5px rgba(0, 0, 0, 0.08);

    @include respond(desktop) {
      width: 300px;
    }
  }

  .extra-details {
    margin-top: 25px;

    &__row {
      display: flex;
      color: $color-text;
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 8px;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    &__label {
      font-weight: bold;
      margin-right: 16px;
    }

    &__value {
      margin-left: auto;
      text-align: right;

      &:first-letter {
        text-transform: uppercase;
      }
    }

  }

}
