<app-list-header [title]="'My favorite albums'"
                 [isGridFormat]="isGridFormat"
                 (onToggleGridFormat)="toggleGridFormat()">
</app-list-header>

<div class="albums-grid" *ngIf="isGridFormat">

  <div *ngFor="let album of albums">
    <app-grid-item (click)="goToDetail(album.id)" [album]="album"></app-grid-item>
  </div>

</div>

<div class="albums-list" *ngIf="!isGridFormat">
  <div *ngFor="let album of albums">
    <app-list-item (click)="goToDetail(album.id)" [album]="album"></app-list-item>
  </div>
</div>
