<router-outlet></router-outlet>

<nav class="bottom-nav" *ngIf="showTabs">
  <div class="bottom-nav__action" (click)="setTab(1)" [routerLink]="'/'">
    <a [ngClass]="{'bottom-nav__action--active': tabIndex == 1}">
      <i class="fas fa-compact-disc"></i>
    </a>
    <span class="tab-title">Albums</span>
  </div>

  <div class="bottom-nav__action" (click)="setTab(2)" [routerLink]="'/artists'">
    <a [ngClass]="{'bottom-nav__action--active': tabIndex == 2}">
      <i class="fas fa-headphones"></i>
    </a>
    <span class="tab-title">Artists</span>
  </div>

  <div class="bottom-nav__action" (click)="setTab(3)" [routerLink]="'/profile'">
    <a [ngClass]="{'bottom-nav__action--active': tabIndex == 3}">
      <i class="fas fa-user-circle"></i>
    </a>
    <span class="tab-title">Profile</span>
  </div>

</nav>
