/* You can add global styles to this file, and also import other style files */
@import "./variables";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $color-primary-light;
}

.page {
  padding: 16px;
  background-color: $color-primary-light;
}

app-root {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

app-albums {
  max-height: calc(100vh - 60px);
  overflow-y: scroll;
}

.mat-dialog-container {
  background-color: $color-primary-dark;
  overflow: hidden!important;
}
