/* You can add global styles to this file, and also import other style files */
@import "./variables";
@import "./mixins";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $color-primary-light;
}

.page {
  padding: 16px;
  background-color: $color-primary-light;

  @include respond(desktop) {
    text-align: center;
  }

}

app-root {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100vh;
}

app-albums,
app-artists {
  max-height: calc(100vh - 60px);
  overflow-y: scroll;

  @include respond(desktop) {
    position: relative;
    top: 55px;
  }
}

app-albums,
app-artists,
app-profile {
  @include respond(desktop) {
    position: relative;
    top: 55px;
  }
}

.mat-dialog-container {
  background-color: $color-primary-dark;
  overflow: hidden !important;
}

.mat-tab-label {
  flex: 1;
  color: $color-text;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: $color-secondary!important;
}
